<%- include('common/header') -%>

<%


let thisPlayer = team.players.find(player => player.userId.toString() === user._id.toString())

let player = team.players.find(player => player.color === game.turn)
let playerUser = teamData.playersData.find(user => user._id.toString() === player.userId.toString())

let turnMessage = ""

if(thisPlayer !== undefined && thisPlayer.color === game.turn){
    turnMessage = `It's your turn, ${playerUser.givenName}`
} else {
    turnMessage = `It's ${playerUser.givenName}'s turn`
}

let thisGamePlayer = game.players.find(player => player.color === thisPlayer.color)
let targetCardId= thisGamePlayer.targets[0]

console.log('My target: ' + targetCardId)
console.log('My map: '+JSON.stringify(fullMap))

function getColor(color){
    switch(color){
        case 'yellow': return '#e6e069'
        case 'blue': return '#6e97f0'
        case 'green': return '#6ef079'
        case 'red': return '#f06e6e'
    }
}

function getDisabled(index){
    if(game.disabledPush !== index)
        return ''

    return '-disabled'
}
let pictureUrl
if(typeof playerUser.pictureUrl !== 'undefined')
    pictureUrl = playerUser.pictureUrl
else
    pictureUrl = '/images/darklogo.svg'
 %>

<script>
    const source = new EventSource('/game/<%=team._id%>/event');

    source.addEventListener('message', message => {
        console.log('Got', message);
        console.log('Data', event.data);
        location.href = '/game/<%=team._id%>/'
    });
</script>

<style>
    .row {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
    }

    /* Create two equal columns that sits next to each other */
    .column {
        flex: calc(100%/9);
        margin: 0;
        padding: 0;
    }

    .imgcontainer {
        position: relative;
        width: 100%;
        margin: 0;
        vertical-align: middle;
    }

    .imgcontainer img{
        width: 100%;
        border-radius: 7px;
    }

    .imgcontainer .topimgs{
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
    }

    .arrow{
        opacity: 0;
        transition: opacity 0.3s;
    }

    .arrow:hover{
        opacity: 0.8;
    }


</style>

<div class="container" style="max-width: 697px">
    <%- include('common/navbar') -%>

    <main>
        <div class="m-0 p-0">
            <h1 class="m-0 p-0" style="color: <%=getColor(player.color)%>"><img style="border: 6px solid <%=getColor(player.color)%>" src="<%=pictureUrl%>" width="50" height="50" class="rounded-circle m-2" alt="<%= user.givenName %>"><%=turnMessage%></h1>
        </div>
        <div class="row">
            <% for(var j = 0; j < 9; j++) { %>
                <div class="column">
                    <% for(var i = 0; i < 9; i++) { %>
                        <% if (i === 0 || j === 0 || i === 8 || j === 8) { %>
                            <div class="imgcontainer">
                            <% if ( i === j || i === 8 - j)  { %>
                                    <img src="/images/game/clear.svg">
                            <% } else { %>
                                    <% if ( i === 0 ) { %>
                                        <% if ( j%2 === 0 ) { %>
                                            <% let index = (j-1) %>
                                            <%if(game.disabledPush !== index){%><a href="/game/<%=team._id%>/push/<%=index%>;0"><%}%>
                                                <img src="/images/game/arrow-1<%=getDisabled(index)%>.svg">
                                            <%if(game.disabledPush !== index){%><img class="topimgs arrow card" src="/images/game/map/<%=plusCard.type%>-<%=plusCard.orientation%>.svg"></a><%}%>
                                        <% } else { %>
                                            <img src="/images/game/clear.svg">
                                        <% } %>
                                    <% } else if ( i === 8 ) { %>
                                        <% if ( j%2 === 0 ) { %>
                                            <% let index = 6*7+(j-1) %>
                                            <%if(game.disabledPush !== index){%><a href="/game/<%=team._id%>/push/<%=index%>;2"><%}%>
                                                <img src="/images/game/arrow-3<%=getDisabled(index)%>.svg">
                                            <%if(game.disabledPush !== index){%><img class="topimgs arrow card" src="/images/game/map/<%=plusCard.type%>-<%=plusCard.orientation%>.svg"></a><%}%>
                                        <% } else { %>
                                            <img src="/images/game/clear.svg">
                                        <% } %>
                                    <% } else if ( j === 0 ) { %>
                                        <% if ( i%2 === 0 ) { %>
                                            <% let index = (i-1)*7 %>
                                            <%if(game.disabledPush !== index){%><a href="/game/<%=team._id%>/push/<%=index%>;3"><%}%>
                                                <img src="/images/game/arrow-0<%=getDisabled(index)%>.svg">
                                            <%if(game.disabledPush !== index){%><img class="topimgs arrow card" src="/images/game/map/<%=plusCard.type%>-<%=plusCard.orientation%>.svg"></a><%}%>
                                        <% } else { %>
                                            <img src="/images/game/clear.svg">
                                        <% } %>
                                    <% } else if ( j === 8 ) { %>
                                        <% if ( i%2 === 0 ) { %>
                                            <% let index = (i-1)*7 + 6 %>
                                            <%if(game.disabledPush !== index){%><a href="/game/<%=team._id%>/push/<%=index%>;1"><%}%>
                                                <img src="/images/game/arrow-2<%=getDisabled(index)%>.svg">
                                            <%if(game.disabledPush !== index){%><img class="topimgs arrow card" src="/images/game/map/<%=plusCard.type%>-<%=plusCard.orientation%>.svg"></a><%}%>
                                        <% } else { %>
                                            <img src="/images/game/clear.svg">
                                        <% } %>
                                    <% } %>
                            <% } %>
                            </div>
                        <% } else { %>
                            <div class="imgcontainer">
                                <a href="/game/<%=team._id%>/step/<%=(i-1)*7+(j-1)%>">
                                <img class="card"  src="/images/game/map/<%= fullMap[i-1][j-1].type %>-<%= fullMap[i-1][j-1].orientation %>.svg">
                                <% if ( typeof fullMap[i-1][j-1].home !== 'undefined') { %>
                                    <img class="topimgs" src="/images/game/<%= fullMap[i-1][j-1].home %>-home.svg">
                                <% } %>
                                <% if (fullMap[i-1][j-1].cardId === targetCardId ) { %>
                                    <img class="topimgs" src="/images/game/target.svg">
                                <% } %>
                                <%
                                    //Players
                                    let player = game.players.find(p=>p.position === (i-1)*7 + (j-1))
                                %>

                                <% if ( player !== undefined) { %>
                                    <img class="topimgs" src="/images/game/<%=player.color%>.svg">
                                    <div class="topimgs" style="top: 33%; right: 0;font-size: 18px; font-weight: 800; color: #4a3b32;">
                                        <%=player.targets.length%>
                                    </div>
                                <% } %>
                                    <img class="topimgs arrow" src="/images/game/<%=thisPlayer.color%>.svg">
                                </a>
                            </div>
                        <% } %>
                    <% } %>
                </div>
            <% } %>
        </div>
        <div class="mt-3">
            <div class="imgcontainer">
            <a href="/game/<%=team._id%>/rotate">
                <img class="card m-auto" src="/images/game/map/<%=plusCard.type%>-<%=plusCard.orientation%>.svg" style="width: 10%; height: 10%">

                <% if ( plusCard.cardId === targetCardId ) { %>
                    <img class="topimgs" src="/images/game/target.svg">
                <% } %>
                <img class="topimgs arrow" src="/images/game/rotate.svg">
            </a>
            </div>
        </div>
    </main>
</div>

<%- include('common/footer') -%>
