<%- include('common/header') -%>

<div class="container m-auto pt-4">
    <%- include('common/navbar') -%>

    <main>
        <% for(var i=0; i < Math.ceil(teams.length / 3); i++){ %>
            <div class="row m-2 justify-content-center">
                <% for(var j=0; j<Math.min(3, teams.length - i * 3); j++){ %>
                    <% let team = teams[i*3 + j] %>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between">
                                <a href='team/edit/<%= team._id%>'>
                                    <img src = "images/settings.svg" alt="settings"/>
                                </a>

                                <h5><%= team.name %></h5>
                                <p><%= team.numberOfGames %></p>
                            </div>

                            <div class="card-body">
                                <p class="card-text"> <%= team.description %> </p>

                                <p>
                                    <% for(var k=0; k<team.players.length; k++) { %>
                                        <%
                                            let player = team.players[k]
                                            let playerData = team.playersData.find(p=>p._id.toString() === player.userId.toString())

                                            if(typeof playerData.pictureUrl !== 'undefined')
                                                pictureUrl = playerData.pictureUrl
                                            else
                                                pictureUrl = '/images/darklogo.svg'
                                        %>

                                        <img style="border: 5px solid var(--<%=player.color%>)" src="<%= pictureUrl %>" width="45" height="45" class="rounded-circle m-1" alt="<%= playerData.name %>">
                                        <b><%= player.victories %></b>
                                    <% } %>
                                </p>
                                <a type="button" class="btn btn-primary" href="/game/<%=team._id%>">
                                    <img src = "images/play.svg"/>
                                    Play
                                </a>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        <% } %>

        <div class="form-signin mt-5">
            <a href="/team/new">
                <button class="w-100 p-2 mt-2 btn btn-lg btn-primary btn-block" type="submit">
                    Create new team
                </button>
            </a>
        </div>

    </main>
</div>

<%- include('common/footer') -%>
